body {
	font-family: 'Roboto', sans-serif;
}
.login {
	font-size: 2em;
	padding: 10%;
	vertical-align: center;
}

#delform {
	display: inline-block;
}

.logo {
	font-size: 2.5em;
}

.bt {
	margin: 2% 0;
}
.bt form, a{
	margin: 10% 0%;
}

header, body, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, body, footer {
		padding-left: 0;
	}
}