body {
	font-family: 'Roboto', sans-serif;
}
.login {
	font-size: 2.5em;
	text-align: center;
	position: absolute;
	left: 25%;
	width: 50%;
}

.style {
	margin-bottom: 15%;
}

.login a {
	display: block;
}

#delform {
	display: inline-block;
}

.logo {
	font-size: 2.5em;
}

.bt {
	margin: 2% 0;
}
.bt form, a{
	margin: 10% 0%;
}

header, body, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, body, footer {
		padding-left: 0;
	}
}