<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h2>Flask Todo App</h2>
    {% if session['screen_name'] %}
      Hello {{ session['screen_name'] }}!
  {% else %}
    <p>
      Sign in with twitter.
    <p>
      <a href="{{ url_for('auth.login') }}"><img src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
  {% endif %}

    <a href="{{ url_for('main.new') }}">New</a>

    <table>
{% for category in categories %}
<tr>
<td>{{ category.name }}</td>
</tr>
{% endfor %}
</table>

<table>
    {%- for todo in todos %}
               <tr>
                   <td>{{ loop.index }} </td>
                   <td>{{ todo.description }}</td>
                   <td>{{ todo.category.name }}</td>
                   <td>{{ todo.priority.name }}</td>
                   <td>{{ todo.creation_date }}</td>
                 </tr>
           {%- endfor %}
</table>

</body>
</html>